
@{
    ViewBag.Title = "UpdateContact";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Contact Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" action="/Student/UpdContact" id="updatestudent">
                    <span class="login100-form-title p-b-51">
                        Contact Information
                    </span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Email is required">
                        <input class="input100" type="hidden" id="Studentnum" name="Studentnum" value="@Session["Studentnum"].ToString()">
                        <input class="input100" type="text" id="Email" name="Email" value="@Session["Email"].ToString()">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Contact number is required">
                        <input class="input100" type="text" id="Contact_number" name="Contact_number" value="@Session["Contact_number"].ToString()">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Update
                        </button>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-24">

                        <div>
                            <a href="@Url.Action("Profile", "Student")" class="txt1">
                                Cancel
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>






</body>
</html>


